asgiref==3.11.1
defusedxml==0.7.1
dj-database-url==3.1.2
Django==5.0.1
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.1
fonttools==4.62.1
fpdf2==2.8.7
mysqlclient==2.2.8
pillow==12.2.0
psycopg==3.3.3
psycopg-binary==3.3.3
psycopg2==2.9.11
psycopg2-binary==2.9.11
PyJWT==2.12.1
python-dotenv==1.0.0
pytz==2025.2
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.12.0
gunicorn==23.0.0
setuptools

cloudinary
django-cloudinary-storage
